<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.catering.common.mapper.IRoleMapper">

    <resultMap type="com.catering.common.pojo.Role" id="findEntityListResultMap">
        <id column="id" property="roleId"/>
        <result column="name" property="roleName"/>
        <result column="validFlag" property="validFlag"/>
        <result column="delFlag" property="delFlag"/>
        <result column="createDate" property="createDate"/>
        <result column="createUserId" property="createUserId"/>
        <result column="lastModifyDate" property="lastModifyDate"/>
        <result column="lastModifyUserId" property="lastModifyUserId"/>
    </resultMap>

    <select id="findEntityList" resultType="List" resultMap="findEntityListResultMap">
        <!-- 这里sql结尾不能加分号，否则报“ORA-00911”的错误 -->
        SELECT * FROM t_role
    </select>

</mapper>